In [1]:
t = (1,2,3)            #Tuple in Python

In [7]:
mylist = [1,2,3]       #Lists in Python

In [8]:
(type(t))              #To check type

tuple

In [9]:
(type(mylist))

list

In [10]:
len (t)                #To chcek length

3

In [11]:
t = ('one', 2)         #Can have dif datatype

In [12]:
t

('one', 2)

In [13]:
print (t[0])           #Indexing of tuple
print (t[-1])

one
2

In [18]:
t = ('a', 'a', 'b', 'c', 'd')

In [19]:
t.count('a')           #Number of times an element occured

2

In [22]:
print (t.index('d'))   #First index value at which value occured
print (t.index('a'))

4
0

In [24]:
t = (1,2,3)

In [25]:
mylist

[1, 2, 3]

In [26]:
mylist [0] = 'New'     #Lists are mutable

In [27]:
mylist

['New', 2, 3]

In [28]:
t [0] = 'New'          #Tuples are immutable

TypeError: 'tuple' object does not support item assignment