## Asking string to be returned so it has ' ' or " " in output :

In [6]:
'hello' #Single quote string

'hello'

In [7]:
"world" #Double quote string

'world'

In [3]:
"I am good" #Normal sequence

'I am good'

In [5]:
" I'm good " #Mixed sequence

" I'm good "

## Printing out the string so it do not have ' ' or " " in output :

In [8]:
print ("hello") #Printing out using " "

hello

In [9]:
print ('world') #Printig out using ' '

world

In [10]:
"hey 1" #Returning the output of strings
"hey 2" #so only the last line gives o/p

'hey 2'

In [11]:
print ("hey 1") #Printing both the strings
print ("hey 2") #so both the lines gives o/p

hey 1
hey 2

In [12]:
print ("hello world") #Simple string

hello world

## Escape sequence (new line & tab)

In [16]:
print ("hello \n world") #Escape sequence
print ("hello \nworld")  #Without gap seq

hello
 world
hello
world

In [20]:
print ("hello\tworld")    #Escape sequence t - tab (\t)
print ("hello \tworld")   #prints strings in same line
print ("hello \t world")  #with more spaces b/w them

hello	world
hello 	world
hello 	 world

## Length and type function

In [21]:
len ("hello") #Length of string without space

5

In [22]:
len ("I am") #Length of string with spaces

4

In [26]:
print (len("hello")) #Printing length
print (len("I am"))  #Syntax to print

5
4

In [29]:
print (type ("5")) #Type function
print (type (5))   #Printing result

<class 'str'>
<class 'int'>

In [38]:
a = 5 #Assigning value to variable

In [39]:
a     #Returning value of variable

5

In [40]:
type (a) #Type function by assigning value

int

In [41]:
a = "hi" #Type function by assigning value
type (a)

str

In [42]:
print (len ("I'm")) #Type function by assigning value

3