In [1]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print (item_name)

1
2
3

## For loop in lists:

In [6]:
mylist = [1,2,3,4,5]

In [7]:
mylist

[1, 2, 3, 4, 5]

In [8]:
for num in mylist:
    print(num)

1
2
3
4
5

In [9]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello

In [12]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [13]:
for num in mylist:
    if num % 2 == 0:
        print (num)

2
4
6
8
10

In [17]:
for num in mylist:
    if num % 2 == 0:
        print (num)
    else:
        print (f'Odd num: {num}')

Odd num: 1
2
Odd num: 3
4
Odd num: 5
6
Odd num: 7
8
Odd num: 9
10

In [21]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print (list_sum)
    
print (list_sum)

1
3
6
10
15
21
28
36
45
55
55

## For loop in strings:

In [22]:
mystring = "Hello World"

In [23]:
mystring

'Hello World'

In [24]:
for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [25]:
for letter in "Ab Cd":
    print (letter)

A
b

C
d

In [27]:
for letter in "Ab Cd":
    print ('Cool')

Cool
Cool
Cool
Cool
Cool

In [28]:
for _ in 'Ab Cd':
    print (_)

A
b

C
d

In [29]:
tup = (1,2,3)

for item in tup:
    print (item)

1
2
3

## Tuple Unpacking:

In [1]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [4]:
print (mylist)
print (len(mylist))

[(1, 2), (3, 4), (5, 6), (7, 8)]
4

In [6]:
type(mylist)

list

In [7]:
for item in mylist:
    print (item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [9]:
for (a,b) in mylist:
    print (a) 
    print (b)

1
2
3
4
5
6
7
8

In [10]:
my_list = [(1,2,3),(4,5,6)]

In [14]:
for a,b,c in my_list:
    print (a)
    print (b)
    print (c)

1
2
3
4
5
6

In [13]:
for a,b,c in my_list:
    print (a)

1
4

## For loops in dict:

In [15]:
d = {'k1':1, 'k2':2, 'k3':3}

In [16]:
for item in d:
    print (item)

k1
k2
k3

In [17]:
for item in d.items():
    print (item)

('k1', 1)
('k2', 2)
('k3', 3)

In [18]:
for (key,value) in d.items():
    print(key)
    print(value)

k1
1
k2
2
k3
3

In [22]:
for (value) in d.values():
    print(value)

1
2
3

In [23]:
for (key) in d.keys():
    print (key)

k1
k2
k3